nav {
  background-color: var(--two);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav a {
  margin: 0px 15px;
}

nav h1 {
  margin: 20px 35px;
  color: white;
}

.active {
  text-decoration: none;
  color: var(--five);
  transition-duration: 0.4s;
}

.nav-link {
  text-decoration: none;
  transition-duration: 0.4s;
  color: var(--five);
}

.nav-link:hover {
  text-decoration: none;
  color: white;
}
